.q {
    margin-bottom: 30px;
    margin-left: 15px;
    display: none;
}
.submit {
    font-size: large;
    background-color: olivedrab;
    border-radius: 10px;
    color: aliceblue;
    margin-left: 15px;
    border: none;
}
h1 {
    color: olivedrab;
    text-decoration-line: underline;
    margin-left: 15px;
}

#submitBtn {
    display: none;

}

.nextBtn {
    margin-left: 15px;
    background-color: olivedrab;
    border-radius: 5px;
    border: none;
    color: aliceblue;
}

.total {
    color: olivedrab;
    font-size: large;
    margin-left: 15px;
}
